@import '../../../../styles/colors';
@import '../../../../styles/sizes';
@import '../../../../styles/fonts';

.si-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: $footer-min-height;
  padding: $box-space 0;
  background: $super-lighten-primary;
  color: $secondary-font-color;
  font-family: $normal-font;
  font-size: $small-paragraph;
  line-height: $small-line-hight;
  letter-spacing: 0em;
  text-align: justified;

  // column container
  .si-footer-column-container {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 12;
    width: 100%;
    height: auto;

    @media screen and (min-width: $tablet-support) {
      justify-content: space-evenly;
    }

    // columns
    .si-footer-column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: auto;
      height: auto;
      margin: $big-space 0;

      @media screen and (min-width: $tablet-support) {
        width: auto;
      }

      .si-footer-contact {
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media screen and (min-width: $tablet-support) {
          width: 30vw;
        }

        @media screen and (min-width: $pc-support) {
          width: auto;
        }
      }
    }
  }
}

.si-footer-icon {
  width: $footer-icon-size;
  height: $footer-icon-size;
}