@import '../../../../../../styles/colors';
@import '../../../../../../styles/sizes';
@import '../../../../../../styles/fonts';

.si-footer-contact-box{
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  margin: $big-space 0;

  .si-footer-contact-icon {
    width: $footer-icon-size;
    height: $footer-icon-size;
    margin: 0 $big-space 0 $box-space ;
  }

  .si-footer-contact-line{
    width: $footer-line-size;
    height: $footer-contact-line-height;
    border-radius: $small-radius;
    background: $secondary-font-color;
  }

  .si-footer-contact-detail{
    display: flex;
    flex-grow: 10;
    width: auto;
    height: auto;
    padding-right: $box-space;
  }

}
