@import '../../styles/sizes';

.si-manager-container{
  width: 100%;

  .si-manager-card-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 100%;
    max-width: $screen-break;
    margin: $extra-large-space auto;
    flex-wrap: wrap;
  }
}