@import '../../../../../../styles/sizes';

.si-language-container{
  position: fixed;
  top: $navbar-icon-top;
  left: $navbar-first-icon-left;
  width: $navbar-icon-size;
  height: $navbar-icon-size;
  z-index: $navbar-items-z-index;
  
  .si-language-flag{
    height: 100%;
    width: auto;
  }
}
