@import '../../../../../../styles/colors';
@import '../../../../../../styles/sizes';
@import '../../../../../../styles/fonts';

.si-expand {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: $navbar-height;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 0 $large-space;
  height: $navbar-expand-height;
  background-color: $background-color;
  z-index: $navbar-background-z-index;
  font-family: $bold-font;
  font-size: $medium-font;
  line-height: $card-line-height;
  letter-spacing: 0em;
  text-align: center;


  @media screen and (max-width: $screen-break) {
    font-size: $default-rem-font;
    padding: 0 $medium-space;
  }


  @media screen and (max-width: $pc-support) {
    display: none;
  }

  .si-expand-logo {
    height: $navbar-expand-icon-size;
    cursor: pointer;
    transition: all $normal-animation ease;
    position: absolute;
    right: $big-space;

    &:hover {
      filter: $logo-hover-shadow;
    }
  }

  .si-expand-title-wrapper {
    display: flex;
    width: auto;
  }


  .si-expand-title {
    position: relative;
    width: auto;
    padding: $big-space 0;
    margin: 0 $medium-space;
    cursor: pointer;
    font-family: $bold-font;
    font-size: $medium-font;
    line-height: $card-line-height;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .si-dd-arrow{
      display: none !important;
    }

    @media screen and (max-width: $screen-break) {
      font-size: $expand-font-size;
    }

    .si-expand-dropdown {
      position: absolute;
      top: calc($navbar-expand-height - 8px);
      left: 50%;
      transform: translateX(-50%);
      width: auto;
      max-width: $max-support;
      height: auto;
      padding: $medium-space $big-space;
      background: $background-color;
      z-index: $burger-drop-z-index;
      visibility: hidden;
      opacity: 0;
      box-shadow: $card-shadow;
      transition: all $fast-animation ease;
    }

    &:hover {
      .si-expand-dropdown {
        visibility: visible;
        opacity: 1;
      }
    }


    @media screen and (max-width: $screen-lock) {
      margin: 0 $medium-space;
    }
  }

  .si-cursor-default {
    cursor: default;

    .si-dd-arrow {
      display: block !important;
      margin-right: 0.35rem;
      margin-bottom: 0.25rem;
      width: $big-space;
      height: $big-space;
      transition: all $fast-animation ease;
      transform: rotate(-90deg);
    }

    &:hover {
      .si-dd-arrow {
        transform: rotate(90deg);
      }
    }
  }

}