@import '../../styles/colors';
@import '../../styles/sizes';
@import '../../styles/fonts';

.si-text-box{
  width: 100%;
  height: auto;
  margin: $big-space 0;
  padding: 0 $big-space;
  text-align: center;
  color: $tertiary-font-color;
  font-family: $normal-font;
  font-size: $default-font-size;
  line-height: $small-line-hight;

  @media screen and (min-width: $pc-support){
    padding: 0 $text-space;
  }

}