@import '../../../../../../styles/colors';
@import '../../../../../../styles/sizes';
@import '../../../../../../styles/fonts';

.si-card-slider {
  width: 95%;
  position: relative;
  max-width: $card-slider-max-with;
  margin: $large-space 0;
  background: $secondary-font-color;
  box-shadow: $card-slider-shadow;
  // border-radius: $card-radius;
  border-radius: $small-radius;
  height: $card-slider-height;
  transition: all $fast-animation;
  background: $card-slider-gradient;
  transform: translateX(calc($card-image-x / -2));

  @media screen and (max-width: $card-slider-screen-large) {
    max-width: $card-slider-large-max-with;
    height: $card-slider-large-height;
  }

  @media screen and (max-width: $card-slider-screen-medium) {
    min-height: $card-slider-medium-min-height;
    height: auto;
    margin: $large-card-space auto $slider-space auto;
    transform: translateX(0);
  }


  @media screen and (max-height: $card-slider-screen-small) and (min-width: $card-slider-screen-large) {
    height: $card-slider-small-height;
  }

  &__item {
    display: flex;
    align-items: center;
    padding-left: $card-medium-space;

    @media screen and (max-width: $card-slider-screen-medium) {
      flex-direction: column;
      padding-right: $card-small-space;
    }


    &.swiper-slide-prev {
      opacity: 0;
    }

    &.swiper-slide-next {
      opacity: 0;
    }

    &.swiper-slide-active {
      position: relative;
      opacity: 1;

      .si-card-slider__img {
        img {
          opacity: 1;
          transition-delay: $fast-animation;
        }
      }

      .si-card-slider__content {
        >* {

          opacity: 1;
          transform: none;

          @for $i from 0 to 15 {
            &:nth-child(#{$i + 1}) {
              transition-delay: $i * 0.1 + $fast-animation;
            }
          }

        }
      }
    }

  }

  &__img {
    // width: 40%;
    width: $card-slider-image-size;
    flex-shrink: 0;
    height: $card-slider-image-size;
    background: $card-slider-gradient;
    box-shadow: $card-slider-image-shadow;
    // border-radius: $extra-large-radius;
    border-radius: $small-radius;
    transform: translateX($card-image-x);
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      // border-radius: $extra-large-radius;
      border-radius: $small-radius;
      opacity: 0.8;
    }

    img {
      height: 90%;
      width: auto;
      object-fit: cover;
      display: block;
      opacity: 0;
      // border-radius: $extra-large-radius;
      border-radius: $small-radius;
      transition: all $fast-animation;
    }


    @media screen and (max-width: $card-slider-screen-large) {
      // width: 45%;
    }

    @media screen and (max-width: $card-slider-screen-medium) {
      transform: translateY(-50%);
      width: 90%;
    }

    @media screen and (max-width: $card-slider-screen-mobile) {
      width: 95%;
    }

    @media screen and (max-height: $card-slider-screen-small) and (min-width: $card-slider-screen-large) {
      height: $card-slider-small-image;
    }
  }

  &__content {
    // width: 60%;
    padding-left: $content-space;
    text-align: justify;

    @media screen and (max-width: $card-slider-screen-large) {
      // width: 55%;
    }

    @media screen and (max-width: $card-slider-screen-medium) {
      margin-top: $slider-small-space;
      padding: 0 $card-medium-space;
    }

    @media screen and (max-width: $card-slider-screen-mobile) {
      padding: 0;
      margin-top: $slider-extra-small-space;
    }

    >* {
      opacity: 0;
      transform: translateY($card-image-y);
      transition: all $medium-animation;


    }

  }

  // &__code {
  //   color: #7b7992;
  //   margin-bottom: 15px;
  //   display: block;
  //   font-weight: 500;
  // }

  &__title {
    font-family: $bold-font;
    font-size: $large-font;
    line-height: $card-line-height;
    letter-spacing: 0em;
    text-align: right;
    margin-bottom: $card-small-space;
    color: $secondary-font-color;
  }

  &__text {
    width: 100%;
    padding-left: $large-space;
    font-family: $normal-font;
    font-size: $default-rem-font;
    line-height: $small-line-hight;
    letter-spacing: 0em;
    text-align: justified;
    color: $secondary-font-color;
    margin-bottom: $card-medium-space;

    @media screen and (max-width: $card-slider-screen-mobile) {
      margin-bottom: $two-third-space;
      padding: 0;
    }
  }

  &__button {
    width: $card-button-width;
    height: $card-button-height;
    // border-radius: $card-large-radius;
    border-radius: $small-radius;
    background: $secondary-font-color;
    color: $primary-font-color;
    box-shadow: $card-slider-button-shadow;
    text-decoration: none;
    font-family: $bold-font;
    font-size: $default-rem-font;
    line-height: $small-line-hight;
    letter-spacing: 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all $fast-animation ease;
    cursor: pointer;

    &__text {
      margin-top: calc($minimal-space + 1px);
    }

    &:hover {
      background: $darken-gray;
      color: $secondary-font-color;
    }


    @media screen and (max-width: $card-slider-screen-mobile) {
      width: 100%;
    }

  }

  .swiper-container-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: $box-space;
    right: 0;
    width: 100%;

  }

  &__pagination {
    position: absolute;
    z-index: 21;
    left: $card-small-space !important;
    width: $card-pagination-width !important;
    text-align: center;
    top: 50% !important;
    bottom: auto !important;
    transform: translateY(-50%);

    @media screen and (max-width: $card-slider-screen-medium) {
      transform: translateX(50%);
      right: 50% !important;
      top: unset !important;
      bottom: $card-small-space !important;
      width: 100% !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: $medium-space 0;

      @media screen and (max-width: $card-slider-screen-medium) {
        margin: 0 $small-space;
      }
    }

    .swiper-pagination-bullet {
      width: $card-pagination-width;
      height: $card-pagination-width;
      display: block;
      border-radius: $medium-radius;
      background: $secondary-font-color;
      opacity: 0.8;
      transition: all $fast-animation;

      &-active {
        opacity: 1;
        background: $card-pagination-active-gradient;
        ;
        height: $card-pagination-active;
        box-shadow: $card-pagination-active-shadow;

        @media screen and (max-width: $card-slider-screen-medium) {
          height: $card-pagination-width;
          width: $card-pagination-active
        }
      }
    }

  }

}

.swiper,
swiper-container {
  overflow: visible;
}