// main colors
// todo replace any possible px with rem

$primary-color: #0D306E;
$background-color: #F3F3F3;
$secondary-color: #81A4CD;
$error-color: #CC2936;
$tertiary-color: #478285;
$gray-color:#808080;

// footer:
$instagram-color: #FF2828;
$telegram-color: #0068B8;
$linkedin: #46AFFF;
$mail-color: #F3E016;

// darken colors

$darken-primary-color: darken($primary-color, 10%);
$darken-background-color: darken($background-color, 10%);
$darken-secondary-color: darken($secondary-color, 10%);
$darken-error-color: darken($error-color, 10%);
$darken-tertiary-color: darken($tertiary-color, 10%);
$darken-gray: darken($gray-color, 10%);

// lighten colors

$lighten-primary-color: lighten($primary-color, 10%);
$lighten-background-color: lighten($background-color, 10%);
$lighten-secondary-color: lighten($secondary-color, 10%);
$lighten-error-color: lighten($error-color, 10%);
$lighten-tertiary-color: lighten($tertiary-color, 10%);
$lighten-gray: lighten($gray-color, 10%);
$super-lighten-primary: #315083;

// opacity color
$gray-transparent-color:#0f0f0f9d;

// font colors

$primary-font-color: #0D306E;
$secondary-font-color: #F3F3F3;
$tertiary-font-color: #000000;

// gradient
$banner-gradient: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
rgba(13, 48, 110, 0.5);
$recent-gradient: linear-gradient(114.18deg, rgba(72, 85, 99, 0.85) 0%, rgba(41, 50, 60, 0.85) 100%);
$card-slider-gradient: linear-gradient(151.39deg, #4371A8 -1%, #BDC3C7 -0.99%, #2C3E50 100%);
$card-pagination-active-gradient: linear-gradient(0deg, rgba(13, 48, 110, 0.5), rgba(13, 48, 110, 0.5)),
linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));

// shadow
$search-shadow: 0 0 0 3px $lighten-gray;
$logo-fixed-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
$logo-hover-shadow: drop-shadow(2px 4px 8px rgba(0, 0, 0, 1));
$card-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.239);
$map-shadow: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.35));
$card-slider-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
$card-slider-image-shadow: 4px 13px 30px 1px rgba(26, 26, 26, 0.2);
$card-slider-button-shadow: 0px 14px 80px rgba(80, 80, 80, 0.4);
$card-pagination-active-shadow:  0px 0px 20px rgba(0, 0, 0, 0.3);