// main colors

$primary-color: #0D306E;
$background-color: #DBE4EE;
$secondary-color: #81A4CD;
$error-color: #CC2936;
$tertiary-color: #478285;
$gray-color:#808080;

// darken colors

$darken-primary-color: darken($primary-color, 10%);
$darken-background-color: darken($background-color, 10%);
$darken-secondary-color: darken($secondary-color, 10%);
$darken-error-color: darken($error-color, 10%);
$darken-tertiary-color: darken($tertiary-color, 10%);
$darken-gray: darken($gray-color, 10%);

// lighten colors

$lighten-primary-color: lighten($primary-color, 10%);
$lighten-background-color: lighten($background-color, 10%);
$lighten-secondary-color: lighten($secondary-color, 10%);
$lighten-error-color: lighten($error-color, 10%);
$lighten-tertiary-color: lighten($tertiary-color, 10%);
$lighten-gray: lighten($gray-color, 10%);

// font colors

$primary-font-color: #0D306E;
$secondary-font-color: #DBE4EE;

// gradient
$banner-gradient:linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
rgba(13, 48, 110, 0.5);

// shadow
$search-shadow: 0 0 0 3px $lighten-gray;
$logo-fixed-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
$logo-hover-shadow: drop-shadow(2px 4px 8px rgba(0, 0, 0, 1));
$card-shadow: 0px 3px 8px 0px #0000003D;