// importing font
// todo replace any possible px with rem

@font-face {
    font-family: 'B Roya';
    src: url(/fonts/B\ Roya_0.ttf) format('truetype');
}

@font-face {
    font-family: 'B Roya Bold';
    src: url(/fonts/B\ Roya\ Bold_0.ttf) format('truetype');
}

// font sizes 
$small-paragraph: 11px;
$default-font-size: 14px;
$default-rem-font: 1rem;
$medium-font: 1.25rem;
$large-font: 1.5rem;
$ultra-large-title: 2rem;
$responsive-navbar-font: 1.1vw;


// language preset
$direction:rtl;

// font family
$normal-font:'B Roya',
Tahoma,
Geneva,
Verdana,
sans-serif;

$bold-font:'B Roya Bold',
Tahoma,
Geneva,
Verdana,
sans-serif;

// line height
$small-line-hight: 15px;
$title-line-hight: 2rem;
$card-line-height: 1.5rem;