@import "./colors";

// screen
$tablet-support: 641px;
$pc-support: 1008px;
$max-support: 1920px;

// spacings
$ultra-small-space: 1px;
$minimal-space: 2px;
$small-space: 5px;
$arrow-space: 0.25rem;
$medium-space: 0.5rem;
$two-third-space: 0.75rem;
$big-space: 1rem;
$large-space: 2rem;
$extra-large-space: 4rem;

// radius
$ultra-small-radius: 2px;
$extra-small-radius: 0.25rem;
$small-radius: 0.5rem;
$medium-radius: 10px;
$circle-radius: 50%;

// z index
$navbar-z-index: 50;
$navbar-items-z-index: 100;
$burger-drop-z-index: 150;
$burger-z-index: 200;
$modal-z-index: 250;

// animations:
$fast-animation: 300ms;
$normal-animation: 500ms;

// border
$navbar-border:1px solid $gray-color;

// burger
$burger-height: 1rem;
$burger-width: 1rem;
$burger-line-width: 1rem;
$burger-line-height: 2px;
$burger-animation-y:4px;
$burger-animation-y-negative:-4px;

// dropdown
$dropdown-item-height: 3.12rem;
$dropdown-item-width: 3rem;
$dropdown-icon-button-size: 1.875rem;
$dropdown-icon-button-svg: 1.25rem;

// navbar
$navbar-height: 1.75rem;
$navbar-right-header-height: 1.5rem;
$navbar-right-header-width: 25%;
$navbar-right-triangle-width: 0.4rem;
$navbar-left-header-width: 75%;
$navbar-left-triangle-width: 0.5rem;
$navbar-icon-size: 18px;
$navbar-icon-top: 5px;
$navbar-first-icon-left: 12px;
$navbar-second-icon-left: 38px;
$navbar-search-width: 12.5rem;
$navbar-search-icon-top: 0.5rem;
$navbar-search-icon-left: 41px;
$navbar-search-icon-size: 0.75rem;

// slider
$arrow-height: 3rem;
$bullet-size: 6px;
$selected-bullet-size: 20px;
$si-slider-logo-size: 6.25rem;

// scrollbar
$scroll-width: 0.5rem;

// cards
$card-width: 18rem;
$card-height: 27rem;
$card-image-width: 7.75rem;
$card-text-height: 10rem;