
// main colors

$primary-color: #0D306E;
$background-color: #DBE4EE;
$secondary-color: #81A4CD;
$error-color: #CC2936;
$tertiary-color: #478285;

// darken colors

$darken-primary-color: scale($primary-color, $lightness: -10%);
$darken-background-color: scale($background-color, $lightness: -10%);
$darken-secondary-color: scale($secondary-color, $lightness: -10%);
$darken-error-color: scale($error-color, $lightness: -10%);
$darken-tertiary-color: scale($tertiary-color, $lightness: -10%);

// lighten colors

$lighten-primary-color: scale($primary-color, $lightness: 10%);
$lighten-background-color: scale($background-color, $lightness: 10%);
$lighten-secondary-color: scale($secondary-color, $lightness: 10%);
$lighten-error-color: scale($error-color, $lightness: 10%);
$lighten-tertiary-color: scale($tertiary-color, $lightness: 10%);

// font colors

$primary-font-color: #0D306E;
$secondary-font-color: #FFFFFF;
