@import url("/src/assets/fonts/broya.css");

:root {
  font-family: "BRoya";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  box-sizing: border-box;

  overflow-x: hidden;

  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  direction: rtl;
}
