@import '../../../../../../styles/colors';
@import '../../../../../../styles/sizes';
@import '../../../../../../styles/fonts';

.si-footer-map-container {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 $arrow-space;
  filter: $map-shadow;
  cursor: pointer;

  @media screen and (min-width: $tablet-support) {
    width: 50vw;
  }

  @media screen and (min-width: $pc-support) {
    width: 26vw;
    max-width: 23rem;
  }

  .si-footer-map {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: $map-min-width;
    height: auto;
    border-radius: $small-radius;
  }
}