@import "../../../../styles/colors";
@import "../../../../styles/sizes";
@import "../../../../styles/fonts";

.si-services-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: $medium-space;
  background: $lighten-primary-color;

  .si-services-title{
    width: auto;
    height: auto;
    margin: $big-space 0;
    color: $secondary-font-color;
    font-family: $bold-font;
    font-size: $ultra-large-title;
  }

  .si-services-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: auto;
  }
}
