@import "../../../../styles/colors";
@import "../../../../styles/sizes";
@import "../../../../styles/fonts";

.si-services-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: $medium-space;

  .si-services-title{
    width: auto;
    height: auto;
    margin: $big-space 0;
    font-family: $bold-font;
    font-size: $ultra-large-title;
    line-height: $card-line-height;
  }

  .si-services-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: auto;
    max-width: $screen-break;
  }
}
