@import '../../../../../../styles/colors';
@import '../../../../../../styles/sizes';
@import '../../../../../../styles/fonts';


.si-footer-social-container {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .si-footer-icon-bg {
    position: relative;
    width: $footer-icon-bg-size;
    height: $footer-icon-bg-size;
    background: $secondary-font-color;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .si-footer-icon {
      width: $footer-icon-size;
      height: $footer-icon-size;
    }
  }
}