@import '../../../../../../styles/colors';
@import '../../../../../../styles/sizes';
@import '../../../../../../styles/fonts';

.si-services-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: $card-width;
  height: $card-height;
  border-radius: $extra-small-radius;
  margin-bottom: $big-space;
  padding: $big-space;
  cursor: default;
  box-shadow: $card-shadow;

  @media screen and (min-width:$tablet-support){
    margin: $large-space $extra-large-space;
  }
  @media screen and (min-width: 1500px){
    margin: 2rem 6rem;
  }

  .si-services-card-img {
    width: $card-image-width;
    height: auto;
  }

  .si-services-card-title {
    font-family: $bold-font;
    font-size: $large-font;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
  }

  .si-services-card-description {
    text-align: justify;
    overflow: hidden;
    white-space: normal;
    height: $card-text-height;
    text-overflow: -o-ellipsis-lastline;
  }

}