@import '../../../../../../styles/colors';
@import '../../../../../../styles/sizes';
@import '../../../../../../styles/fonts';

.si-services-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: $card-width;
  height: $card-height;
  border-radius: $extra-small-radius;
  margin:0 $big-space $big-space;
  padding: $big-space;
  cursor: pointer;
  box-shadow: $card-shadow;
  transition: all $normal-animation ease;

  &:hover{
    box-shadow: $card-active-shadow;
  }

  @media screen and (min-width:$tablet-support) {
    margin: $big-space $big-space;
  }

  @media screen and (min-width: $screen-lock) {
    margin: $big-space $large-space;
  }

  .si-services-card-img {
    width: $card-image-width;
    height: auto;
  }

  .si-services-card-title {
    font-family: $bold-font;
    font-size: $medium-font;
    line-height: $card-line-height;
    letter-spacing: 0em;
    text-align: center;
  }

  .si-services-card-description {
    text-align: justify;
    line-height: $small-line-hight;
    display: -webkit-box;
    -webkit-line-clamp: 11;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}