@import '../../../../../../styles/colors';
@import '../../../../../../styles/sizes';
@import '../../../../../../styles/fonts';

.si-services-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: $card-width;
  height: $card-height;
  border-radius: $extra-small-radius;
  margin-bottom: $big-space;
  padding: $big-space;
  cursor: default;
  box-shadow: $card-shadow ;

  // todo fix margin for desktop devices

  .si-services-card-img {
    width: $card-image-width;
    height: auto;
  }

  .si-services-card-title {
    font-family: $bold-font;
    font-size: $large-font;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
  }

  .si-services-card-description {
    text-align: justify;
  }

}