@import '../../../../../../../../styles/colors';
@import '../../../../../../../../styles/sizes';
@import '../../../../../../../../styles/fonts';

.si-dd-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: auto;
  color: inherit;

  .si-dd-item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    margin-bottom: auto;
    text-align: right;
    width: 20rem;


    .si-dd-item {
      text-align: right;
      width: auto;

      .si-dd-item-label {
        margin-left: auto;
        cursor: pointer;

        font-family: $bold-font;
        font-size: $medium-font;
        line-height: $card-line-height;
        letter-spacing: 0em;

        @media screen and (max-width: $screen-break) {
          font-size: $expand-font-size;
        }

        letter-spacing: 0em;
        margin-bottom: $medium-space;
        width: auto;

        &:after {
          transition: all ease-in-out $fast-animation;
          background: none repeat scroll 0 0 $primary-color;
          content: "";
          display: block;
          height: 2px;
          width: 0;
        }

        &:hover:after {
          width: 100%;
        }

        @media screen and (max-width: $screen-lock) {
          font-size: $nav-font;
        }
      }

      .si-dd-arrow {
        display: none !important;
      }

      .si-dd-sub-item-label {
        cursor: pointer;
        line-height: $card-line-height;
        font-family: $normal-font;
        font-size: $default-rem-font;
        letter-spacing: 0em;
        margin-bottom: $small-space;
        width: auto;


        &:after {
          transition: all ease-in-out $fast-animation;
          background: none repeat scroll 0 0 $primary-color;
          content: "";
          display: block;
          height: 2px;
          width: 0;
        }

        &:hover:after {
          width: 100%;
        }

        @media screen and (max-width: $screen-lock) {
          font-size: $default-rem-font;
        }
      }

      .si-dd-sub-item-wrapper {
        position: absolute;
        top: -8px;
        right: 11rem;
        width: 20rem;
        margin-right: $big-space;
        font-family: $normal-font;
        height: auto;
        padding: $medium-space $big-space;
        background: $background-color;
        z-index: $burger-drop-z-index;
        visibility: hidden;
        opacity: 0;
        transition: all $fast-animation ease;
      }

      .si-dd-cursor {
        position: relative;
        cursor: default;
        display: flex;

        .si-dd-arrow {
          display: block !important;
          margin-top: 0.15rem;
          margin-right: 1rem;
          width: $big-space;
          height: $big-space;
          transition: all $fast-animation ease;
          transform: rotate(90deg);
        }

        &:hover {
          .si-dd-arrow {
            transform: rotate(-90deg);
          }
          .si-dd-sub-item-wrapper{
            visibility: visible;
            opacity: 1;
            border: 1px solid black;
          }
        }

        &:after {
          height: 0;
          width: 0;
        }

        &:hover:after {
          width: 0;
        }
      }
    }

    .si-dd-return {
      display: none;
    }

  }

  .si-dd-vector {
    height: $expand-dropdown-vector;
    width: auto;
    margin: $large-space;
  }

}