@import '../../../../styles/colors';
@import '../../../../styles/sizes';
@import '../../../../styles/fonts';

.si-slider-container {
  position: relative;
  width: 100%;
  height: calc(100vh - $navbar-height);

  .si-slider-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    animation: fadeIn $fast-animation ease forwards;
  }

  .si-slider-arrow-left {
    position: absolute;
    top: 50%;
    left: $arrow-space;
    height: $arrow-height;
    width: auto;
    transform: translateY(-50%);
    opacity: 0.6;
    transition: all $normal-animation ease;
    z-index: $navbar-z-index;

    &:hover {
      opacity: 1;
    }
  }

  .si-slider-arrow-right {
    position: absolute;
    top: 50%;
    right: $arrow-space;
    height: $arrow-height;
    width: auto;
    transform: translateY(-50%) rotate(180deg);
    opacity: 0.6;
    transition: all $normal-animation ease;
    z-index: $navbar-z-index;

    &:hover {
      opacity: 1;
    }
  }

  .si-slider-bullet-wrapper {
    position: absolute;
    display: flex;
    bottom: $big-space;
    left: 50%;
    width: auto;
    height: auto;
    transform: translateX(-50%);
    z-index: $navbar-z-index;
    direction: ltr;

    .si-slider-bullet {
      width: $bullet-size;
      height: $bullet-size;
      border-radius: $medium-radius;
      background: $background-color;
      margin: 0 $minimal-space;
      transition: all $normal-animation ease;
    }

    .si-slider-bullet-selected {
      width: $selected-bullet-size;
    }
  }

  .si-slider-text-container {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $large-space $extra-large-space;
    background: $banner-gradient;
    font-family: $bold-font;
    font-size: $ultra-large-title;
    line-height: $ultra-large-title;
    color: $secondary-font-color;
    text-align: center;
    transition: all $normal-animation ease;
  }

  .si-slider-logo {
    position: absolute;
    top: $two-third-space;
    left: $two-third-space;
    width: $si-slider-logo-size;
    height: auto;
    filter: $logo-fixed-shadow;
    transition: all $normal-animation ease;
    
    @media screen and (min-width: $pc-support) {
      // top: 16%;
      // left: 16%;
      width: $slider-logo-size;
    }

    &:hover {
      filter: $logo-hover-shadow;
    }

  }
}