@import '../../styles/fonts';
@import '../../styles/sizes';

.si-no-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - $navbar-height );
  font-family: $bold-font;
  font-size: $large-font;
  color: black;

  h2 {
    font-family: $bold-font;
    font-size: $large-font;
    line-height: $card-line-height;
    margin: $big-space;
  }

  h3 {
    font-family: $bold-font;
    font-size: $large-font;
    line-height: $card-line-height;
  }
}