@import '../../../../../../../../styles/colors';
@import '../../../../../../../../styles/sizes';

// todo fix colors and styles

.si-dropdown-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: $burger-drop-z-index;
  transition: height $fast-animation ease;
  max-width: $tablet-support;

  @media screen and (min-width: $tablet-support){
    max-width: 400px;
  }

  // border-radius: $small-radius;
  // border: $navbar-border;
  
  .si-dropdown {
    width: 100%;
    height: 100%;
    padding-top: $large-space;
    z-index: $burger-drop-z-index;
    background: $lighten-primary-color;
    transition: height $fast-animation ease;
    // border-radius: $small-radius;
    // border: $navbar-border;
  }

  /* CSSTransition classes  */
  .si-dropdown-secondary-enter {
    transform: translateX(-100%);
  }

  .si-dropdown-secondary-enter-active {
    transform: translateX(0%);
    transition: all $normal-animation ease;
  }

  .si-dropdown-secondary-exit {
    position: absolute;
  }

  .si-dropdown-secondary-exit-active {
    transform: translateX(-100%);
    transition: all $normal-animation ease;
  }

  .si-dropdown-primary-enter {
    transform: translateX(100%);
  }

  .si-dropdown-primary-enter-active {
    transform: translateX(0%);
    transition: all $normal-animation ease;
  }

  .si-dropdown-primary-exit {
    position: absolute;
  }

  .si-dropdown-primary-exit-active {
    transform: translateX(100%);
    transition: all $normal-animation ease;
  }
}
