@import "./styles/fonts";
@import "./styles/colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:before {
    box-sizing: border-box;
  }

  &:after {
    box-sizing: border-box;
  }
}

html {
  font-family: 'B Roya', Tahoma, Geneva, Verdana, sans-serif;
  font-size: $default-font-size;
}

body {
  margin: 0;
  overflow-x: hidden;
  direction: $direction;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background-color: $darken-background-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $tertiary-color;
    border-radius: 10px;
  }
}