@import "./styles/fonts";
@import "./styles/colors";
@import "./styles/sizes";

// todo fix more than 1920px support

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:before {
    box-sizing: border-box;
  }

  &:after {
    box-sizing: border-box;
  }
}

html {
  font-family: $normal-font;
}

body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  direction: $direction;
  font-size: $default-font-size;
  cursor: default;

  &::-webkit-scrollbar {
    width: $scroll-width;
  }

  &::-webkit-scrollbar-track {
    background-color: $darken-background-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $tertiary-color;
    border-radius: $medium-radius;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

