@import '../../../../styles/fonts';
@import '../../../../styles/sizes';
@import '../../../../styles/colors';

.si-reinsurance-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  background: $lighten-primary-color;

  .si-reinsurance-title {
    margin-top: $large-space;
    font-family: $bold-font;
    font-size: $ultra-large-title;
    line-height: $title-line-hight;
    letter-spacing: 0em;
    text-align: justified;
    color: $secondary-font-color;
  }
}