@import '../../../../styles/fonts';
@import '../../../../styles/sizes';
@import '../../../../styles/colors';

.si-reinsurance-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;

  .si-reinsurance-title {
    margin-top: 2.25rem;
    font-family: $bold-font;
    font-size: $ultra-large-title;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: justified;
  }
}