@import '../../styles/colors';
@import '../../styles/sizes';
@import '../../styles/fonts';

.si-accordion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: $big-space 0 $large-space;
  
  .si-accordion-wrapper{
    display: flex;
    // todo check out for this line
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: auto;
    max-width: $screen-break;
    padding: 0 $big-space;
  }
}