@import '../../../../../../styles/colors';
@import '../../../../../../styles/sizes';
@import '../../../../../../styles/fonts';

.si-footer-logo-container {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: $tablet-support) {
    width: 30vw;
    margin-top: $large-space;
  }

  @media screen and (min-width: $pc-support) {
    width: auto;
    margin: $large-space $medium-space;
  }

  .si-footer-logo {
    width: $footer-logo-size;
    cursor: pointer;
    filter: $logo-fixed-shadow;
    transition: all $normal-animation ease;

    &:hover {
      filter: $logo-hover-shadow;
    }
  }
}